<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}public.css"/>
<link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}node.css"/>
<!-- 这里是节点列表页面，添加的链接到addnode处理 -->
</head>
<body>
	<div id="wrap">
		<a href="{:U('Admin/Rbac/addNode')}" class="add-app">添加应用</a>
		
		<foreach name='node' item='app'>
			<div class='app'>
				<p>
					<strong>{$app.title}</strong>
					[<a href="{:U('Admin/Rbac/addnode',array('pid'=>$app['id'],'level'=>2))}">添加控制器</a>]
					[<a href="{:U('Admin/Rbac/altNode',array('nid'=>$app['id'],'level'=>1))}">修改</a>]
					[<a href="{:U('Admin/Rbac/delNode',array('nid'=>$app['id']))}">删除</a>]
				</p>
				
				
				<foreach name='app.child' item='action'>
					<dl>
						<dt>
							<strong>{$action.title}</strong>
							[<a href="{:U('Admin/Rbac/addnode',array('pid'=>$action['id'],'level'=>3))}">添加方法</a>]
						</dt>
						
						
						
						<foreach name='action.child' item='method'>
							<dd>
								<span>{$method.title}</span>
								[<a href="{:U('Admin/Rbac/altNode',array('nid'=>$method['id'],'pid'=>$action['id'],'level'=>3))}">修改</a>]
								[<a href="{:U('Admin/Rbac/delNode',array('nid'=>$method['id']))}">删除</a>]
							</dd>
						</foreach>
					</dl>
				</foreach>
				
			</div>
		</foreach>
	</div>
</body>
</html>