<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><a href="__CONTROLLER__/offerlist"><h4>返回</h4></a></div>
<table width="100%" border="1px dashed" cellpadding="2" cellspacing="0">
    <tr>
        <td align="center">求购人</td>
        <td align="center">公司名称</td>
        <td align="center">邮箱</td>
        <td align="center">求购人</td>
        <td align="center">职位</td>
        <td align="center">电话</td>
        <td align="center">邮件状态</td>
        <td align="center">QQ</td>
        <td align="center">固定电话</td>

        <td colspan="2" align="center">操作</td>
        <!--<td align="center">查看记录</td>-->

    </tr>
    <!--这是一个四维数组-->

    <foreach name="mail" item="vvv">
        <foreach name="com_name" item="v" key="k">
            <foreach name="com_user" item="vv" key="kk">
                <!--因为register_user表与com表是一对一的关系，所以key也是一一对应的，通过k的比较来显示下面-->
                <if condition=" $k eq $kk ">
                    <tr>
                        <td align="center">{$vv.user_name}</td>
                        <td align="center" bgcolor="#7fffd4"><a href="__CONTROLLER__/showCom/com_id/{$v.com_id}">
                            {$v.com_name}</a></td>
                        <td align="center">{$vv.user_email}</td>
                        <td align="center" bgcolor="#7fffd4">{$vv.user_true_name}</td>
                        <td align="center">{$vv.user_job}</td>
                        <td align="center" bgcolor="#7fffd4">{$vv.user_phone}</td>
                        <td align="center">
                            <if condition="$vvv['email'] eq 1">已发邮件</if>
                            <if condition="$vvv['email'] eq 0">未通过</if>
                        </td>
                        <td align="center">{$vv.user_qq}</td>
                        <td align="center" bgcolor="#7fffd4">{$vv.user_fixed_phone}</td>
                        <td align="center"><a
                                href="__CONTROLLER__/sendMailer/offer_id/{$offer_id}/buyer_id/{$vv.user_id}/status/1">发送邮件</a>
                        </td>
                        <td align="center"><a
                                href="__CONTROLLER__/sendMailer/offer_id/{$offer_id}/buyer_id/{$vv.user_id}/status/0">未通过</a>
                        </td>

                    </tr>
                </if>
            </foreach>
        </foreach>
    </foreach>
    <tr>
        <td colspan="20" style="text-align: center;">
            {$pagelist}
        </td>
    </tr>

</table>

</body>
</html>