<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报价</title>
</head>
<body>
<h2>公司</h2>
<form action="__SELF__" method="post">
    <table width="70%" border="2" cellpadding="3" cellspacing="0" bgcolor="#cccccc">

        <td><input type="hidden" name="offer_create_time" value="<?php echo time();?>"></td>
        <input type="hidden" name="offer_user_id" value="{$Think.session.user_id}">
        <tr>
            <td align="right">公司名字：&nbsp;</td>
            <td align="center">{$info.com_name}</td>

        </tr>
        <tr>
            <td align="right">公司属性：&nbsp;</td>
            <td align="center">{$info.attribute}</td>
        </tr>
        <tr>
            <td align="right">所属行业：&nbsp;</td>
            <td align="center">{$info.trade}</td>
        </tr>
        <tr>
            <td align="right">经营地址：&nbsp;</td>
            <td align="center">{$info.com_address}</td>
        </tr>
        <tr>
            <td align="right">主要产品：&nbsp;</td>
            <td align="center">{$info.com_main_pro}</td>
        </tr>
        <tr>
            <td align="right">所属市场：&nbsp;</td>
            <td align="center">{$info.market}</td>
        </tr>


        <tr>
            <td align="right">公司网址：&nbsp;</td>
            <td align="center">{$info.com_url}</td>
        </tr>
        <tr>
            <td align="right">所在地：&nbsp;</td>
            <td align="center">{$info.prov_name}>>{$info.city_name}</td>
        </tr>
        <!--<tr>-->
        <!--<td align="right">产品描述：&nbsp;</td>-->
        <!--<td>{$info.com_name}</td>-->
        <!--</tr>-->

    </table>
</form>
</body>
</html>
